.dashboard {
  display: flex;
  width: 76%;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding: 10px;
  background-color: #8787874d;
  border-radius: 8px;
  max-height: calc(100vh - 70px);
  overflow: hidden;

  &__list-task {
    width: calc(100% - 16px);
    display: flex;
    align-items: center;
    padding: 6px;
    background-color: #ffffff99;
    justify-content: space-between;
    border-radius: 8px;

    &__buttons {
      display: flex;
      gap: 8px;

      &__add {
        padding: 8px;
        background-color: #02ec02;
        color: #ffffff;
        font-weight: 700;
        border: 0.1px solid #ffffff;
        border-radius: 8px;
        cursor: pointer;

        &:hover {
          transform: scale(1.02);
        }
      }
    }
  }
}
