body {
  background-image: url('./Background.jpg');
  background-repeat: no-repeat;
  background-size: cover; // Esto asegura que la imagen cubra todo el fondo
}

.task {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding: 10px 10px 50px 10px;
  border: 1px solid;
}

.listTask {
  width: calc(100% - 16px);
  display: flex;
  align-items: center;
  padding: 6px;
  justify-content: space-between;
  border: 1px solid black;

  &__buttons {
    display: flex;
    gap: 8px;

    &__add {
      padding: 8px;
      background-color: #02ec02;
      color: #ffffff;
      font-weight: 700;
      border: 0.1px solid black;
      border-radius: 2px;
      cursor: pointer;

      &:hover {
        transform: scale(1.02);
      }
    }
  }
}

//task

.Task {
  display: flex;
  gap: 30px;
  padding-left: 8px;
}
.Task__delete {
  padding: 6px;
  background-color: red;
  color: #ffffff;
  font-weight: 700;
  border: 0.1px solid black;
  border-radius: 2px;
  cursor: pointer;

  &:hover {
    transform: scale(1.02);
  }
}
