.App {
  display: flex;
  padding: 20px;
  justify-content: center;
}

body {
  background-image: url('./assets/Background.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  overflow-x: hidden;
}
